<div class="my-account-wrapper" *ngIf="userData">
  <h1>My Account</h1>
    <div class="wrapper1">
      <div class="wrapper2">
        <h2>Welcome  <b>{{user.firstName | titlecase}}  {{user.lastName | titlecase}}</b>!</h2>
        <form [formGroup]='form' class="register-wrapper">
          <div [ngClass] = "{'error-innput-wrapper' : form.controls['firstName'].invalid && !form.controls['firstName'].untouched}" class="input-wrapper">
            <label for="firstName">First Name</label>
            <input (keyup)="inputHandler()" formControlName="firstName">
          </div>

          <div [ngClass] = "{'error-innput-wrapper' : form.controls['lastName'].invalid && !form.controls['lastName'].untouched}" class="input-wrapper">
            <label for="lastName">Last Name</label>
            <input (keyup)="inputHandler()" formControlName="lastName">
          </div>
      
          <div class="change-pass">
            <label for="password">Change Password</label>
            <div class="pass-wrapper">
              <div [ngClass] = "{'error-innput-wrapper' : this.form.value.password && !_samePasswordsOld}" class="input-wrapper inp">
                <input placeholder="enter old password" (keyup)="inputHandler()" (change)="samePasswordsOld()" type="{{!showPassword ? 'password' : 'text'}}" formControlName="password">
                <img *ngIf="!showPassword" (click)="showPasswordToggle('showPassword')" src="../../../../assets/images/visible.png" alt="vector">
                <img *ngIf="showPassword" (click)="showPasswordToggle('showPassword')" src="../../../../assets/images/not-visible.png" alt="vector">
              </div>
              <div [ngClass] = "{'error-innput-wrapper' : form.controls['passwordNew'].invalid && !form.controls['passwordNew'].untouched, 'disabled' : !this._samePasswordsOld}" class="input-wrapper inp">
                <input placeholder="enter new password" (keyup)="inputHandler()" type="{{!showPasswordNew ? 'password' : 'text'}}" formControlName="passwordNew">
                <img *ngIf="!showPasswordNew" (click)="showPasswordToggle('showPasswordNew')" src="../../../../assets/images/visible.png" alt="vector">
                <img *ngIf="showPasswordNew" (click)="showPasswordToggle('showPasswordNew')" src="../../../../assets/images/not-visible.png" alt="vector">
              </div>
              <div [ngClass] = "{'error-innput-wrapper' : !_samePasswordsNew && !form.controls['passwordNew1'].untouched, 'disabled' : !this._samePasswordsOld}" class="input-wrapper inp">
                <input placeholder="confirm new password" (keyup)="inputHandler()" type="{{!showPasswordNew1 ? 'password' : 'text'}}" formControlName="passwordNew1">
                <img *ngIf="!showPasswordNew1" (click)="showPasswordToggle('showPasswordNew1')" src="../../../../assets/images/visible.png" alt="vector">
                <img *ngIf="showPasswordNew1" (click)="showPasswordToggle('showPasswordNew1')" src="../../../../assets/images/not-visible.png" alt="vector">
              </div>
            </div>
          </div>
          
          <div class="action-buttons">
            <div [ngClass] = "{'error-innput-wrapper' : teamSelected === undefined}" class="input-wrapper">
              <label for="favoriteTeam">Favorite Team</label>
              <div class="teams">
                <div class="favorite-team-input">
                  <p *ngIf="!teamSelected">No selected team</p>
                  <div *ngIf="teamSelected">
                    <img src="../../../../../assets/images/nhl/{{teamSelected.image}}" alt="{{teamSelected.image}}">
                    <h3>{{teamSelected.city}}  </h3>
                    <h2>{{teamSelected.title}}</h2>
                  </div>
                </div>
                <div class="action-buttons">
                  <button mat-button class="background-button" (click)="selectTeam()">
                    Select team
                  </button>
                </div>
              </div>
            </div>
            <button disabled="{{!submitButtonDisabled}}" mat-button class="background-button subm-btn" (click)="submit()" [ngClass]="{'disabled' : submitButtonDisabled == false}">Submit</button>
          </div>
        </form>
      </div>
    </div>
</div>