.head-wrapper {
  padding: 25px 25px;
  box-sizing: border-box;

  .page-title {
    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #262B27;
    margin: 0;
  }
}
@media screen and (max-width: 800px) {
  .head-wrapper{
    margin: 10px auto;
    box-sizing: border-box;
    width: fit-content;
    padding: 0;
  }
}
