@font-face {
    font-family: futuraBlack;
    src: url(assets/fonts/FuturaFuturisBlackC.woff) format('woff'),
    url(assets/fonts/FuturaFuturisBlackC.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: futuraBold;
    src: url(assets/fonts/FuturaFuturisC-Bold.woff) format('woff'),
    url(assets/fonts/FuturaFuturisC-Bold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: futura;
    src: url(assets/fonts/FuturaFuturisC.woff) format('woff'),
    url(assets/fonts/FuturaFuturisC.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
  }