<div class="form-overlay" style="padding: 30px 24px">
  <div *ngIf="data.type === 'add'">
    <h1>Create new user</h1>
  </div>
  <div *ngIf="data.type === 'update'">
    <h1>Update user</h1>
  </div>
  <form [formGroup]="form">
    <mat-dialog-content class="mat-typography">
      <mat-form-field appearance="fill" class="form-data">
        <mat-label>Email *</mat-label>
          <input matInput formControlName="email" />
        <mat-error
          *ngIf="form.controls['email'].invalid"
        >
          <mat-error *ngIf="form.get('email').errors.required">
            Enter your Email
          </mat-error>
          <mat-error *ngIf="form.get('email').errors.email">
            This field should contain @ character
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-data">
        <mat-label>First Name *</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error
          *ngIf="
            !form.controls['firstName'].valid
          "
        >
          This field is required. Enter First Name.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-data">
        <mat-label>Last Name *</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error
          *ngIf="
            !form.controls['lastName'].valid
          "
        >
          This field is required. Enter Last Name.
        </mat-error>
      </mat-form-field>

      <mat-form-field  (click)='selectTeam()' appearance="fill" class="form-data">
        <mat-label>Favorite Team *</mat-label>
        <input matInput formControlName="favoriteTeam" />
        <mat-error
          *ngIf="
            !form.controls['favoriteTeam'].valid
          "
        >
          This field is required. Enter Last Name.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-data">
        <mat-label>Referred By</mat-label>
        <input matInput formControlName="referredBy" />
        <mat-error
          *ngIf="
            !form.controls['referredBy'].valid
          "
        >
          This field is required. Enter Last Name.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-data">
        <mat-label style="padding-left: 10px;">Rate</mat-label>
        <select style="padding-left: 10px;" matNativeControl required formControlName="rate">
          <option disabled value="Choose Rate">Choose Rate</option>
          <option value="1">I have watched and played hockey most of my life</option>
          <option value="2">I am a serious hockey fan</option>
          <option value="3">I am the average hockey fan</option>
          <option value="4">I do not watch hockey very often</option>
          <option value="5">I almost never watch hockey</option>
        </select>

        <mat-error
          *ngIf="
            !form.controls['rate'].valid
          "
        >
          This field is required. Choose Rate.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-data">
        <mat-label style="padding-left: 10px;">Game Type</mat-label>
        <select style="padding-left: 10px;" matNativeControl required formControlName="gameType">
          <option disabled value="Choose Game Type">Game Type</option>
          <option value="football">Football</option>
          <option value="hockey">Hockey</option>
        </select>

        <mat-error
          *ngIf="
            !form.controls['gameType'].valid
          "
        >
          This field is required. Choose Game Type.
        </mat-error>
      </mat-form-field>
      
    </mat-dialog-content>

    <mat-dialog-actions align="center">
      <div *ngIf="data.type === 'add'">
        <button 
          mat-raised-button 
          color="primary" 
          [disabled]="!form.valid"
          (click)="submit()"
          [mat-dialog-close]="true"
          >
          Submit
        </button>
      </div>
      <div *ngIf="data.type === 'update'">
        <button  
          mat-raised-button 
          color="primary" 
          [disabled]="!form.valid"
          (click)="update()"
          [mat-dialog-close]="true"
          >
          Save
        </button>
      </div>
      <div *ngIf="data.type === 'addFromRequest'">
        <button  
          mat-raised-button 
          color="primary" 
          [disabled]="!form.valid"
          (click)="invite()"
          [mat-dialog-close]="true"
          >
          Confirm
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</div>