<main  *ngIf="!requested && !oops">
  <header>
    <div class="image">
      <img
        src="../../../../../assets/images/LOGO.png"
        alt="logo"
      />
    </div>
    <div class="sign-in-up">
      <span (click)="loginRedirect()">Sign In</span>
      <span (click)="toggleExpansion(true, 0)">Sign Up</span>
    </div>
  </header>

  <section>
    <mat-accordion>
      <mat-expansion-panel
      style="background: #f1f1f1; margin-top: -49px;box-shadow: none;"
      disabled [expanded]="expansionOpened" hideToggle>
        <mat-expansion-panel-header> </mat-expansion-panel-header>

        <div class="page-wrapper">
          <h2 style="text-align: center;">
            SIGN UP
          </h2>
          <form [formGroup]="formRequest" class="register-wrapper">
            <mat-form-field appearance="fill" class="form-data input">
              <mat-label>Email *</mat-label>
                <input (keyup)="inputHandler()" matInput formControlName="email" />
              <mat-error
                *ngIf="formRequest.controls['email'].invalid"
              >
                <mat-error *ngIf="formRequest.get('email').errors.required">
                  Enter your Email
                </mat-error>
                <mat-error *ngIf="formRequest.get('email').errors.email">
                  This field should contain @ character
                </mat-error>
              </mat-error>
            </mat-form-field>
      
            <mat-form-field appearance="fill" class="form-data input">
              <mat-label>First Name *</mat-label>
              <input (keyup)="inputHandler()" matInput formControlName="firstName" />
              <mat-error
                *ngIf="
                  !formRequest.controls['firstName'].valid
                "
              >
                This field is required. Enter First Name.
              </mat-error>
            </mat-form-field>
      
            <mat-form-field appearance="fill" class="form-data input">
              <mat-label>Last Name *</mat-label>
              <input (keyup)="inputHandler()" matInput formControlName="lastName" />
              <mat-error
                *ngIf="
                  !formRequest.controls['lastName'].valid
                "
              >
                This field is required. Enter Last Name.
              </mat-error>
            </mat-form-field>
      
            <mat-form-field  (click)='selectTeam()' appearance="fill" class="form-data input">
              <mat-label>Favorite NHL Team *</mat-label>
              <input matInput formControlName="favoriteTeam" />
              <mat-error
                *ngIf="
                  !formRequest.controls['favoriteTeam'].valid
                "
              >
                This field is required. Choose a Favorite Team.
              </mat-error>
            </mat-form-field>
      
            <mat-form-field class="form-data input" style="width: 97%; font-family: Roboto;">
              <mat-label style="padding-left: 10px;">How do you rate yourself as a hockey fan?</mat-label>
              <mat-select (change)="inputHandler()" style="padding-left: 10px;" matNativeControl required formControlName="rate">
                <!-- <mat-option style="font-family: Roboto;" disabled value="0">How do you rate yourself as a hockey fan?</mat-option> -->
                <mat-option style="font-family: Roboto;" value="1">I have watched and played hockey most of my life</mat-option>
                <mat-option style="font-family: Roboto;" value="2">I am a serious hockey fan</mat-option>
                <mat-option style="font-family: Roboto;" value="3">I am the average hockey fan</mat-option>
                <mat-option style="font-family: Roboto;" value="4">I do not watch hockey very often</mat-option>
                <mat-option style="font-family: Roboto;" value="5">I almost never watch hockey</mat-option>
              </mat-select>
      
              <mat-error
                *ngIf="
                  !formRequest.controls['rate'].valid
                "
              >
                This field is required. Choose a Rate.
              </mat-error>
            </mat-form-field>
          </form>
          <div
                style="
                padding: 8px;
                position: relative;
                top: 0;
                left: 50%;
                transform: translate(-50%);
                max-width: 250px;"
                class="hover1"
              >
                <div class="hover2">
                  <button
                    [disabled]="!formRequest.valid"
                    [ngClass]="{'disabled': !formRequest.valid}"
                    mat-button
                    (click)="submitForm()"
                    type="button"
                    style="width: auto;font-size: 20px;padding: 10px 75px;">
                    Submit
                  </button>
                </div>
              </div>
          <p class="have-acc"
              
            >
              <span style="color: #6f7394">You have an account already?</span>
              <b
                style="cursor: pointer; color: #00aae8"
                (click)="loginRedirect()"
                >Login HERE</b
              >
            </p>
        </div>

        <div class="line">
          <div
          style="color: #fff;padding: 4px 0 0 0;font-size: 20px;"
          class="half-circle" 
          (click)="toggleExpansion(false, 0)">
            X
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <owl-carousel-o [options]="customOptions" class="my-carousel">
      <ng-template carouselSlide>
        <div 
        style="background: url(../../../../../assets/images/260.png) no-repeat;"
        class="block1">
          <!-- <div 
          style="
              padding: 0;
              max-width: 320px;
              display: flex;
              flex-wrap: wrap;
              position: absolute;
              left: 0;
              top: 10%;
          "
          class="dots-block1">
            <div class="ellipse-1" *ngFor="let dot of dotsBlock1"></div>
          </div>
          <div
          style="
              padding: 0;
              max-width: 500px;
              display: flex;
              flex-wrap: wrap;
              right: 0;
              position: absolute;
              bottom: 10%;
          "
          class="dots-block2"
          >
            <div class="ellipse-1" *ngFor="let dot of dotsBlock2"></div>
          </div> -->
          <div class="hover1">
            <div class="hover2">
              <button type="button" (click)="toggleExpansion(true, 0)">
                JOIN US <span style="margin-right: 10px">>></span>
              </button>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div 
        style="background: url(../../../../../assets/images/banner2.png) no-repeat;"
        class="block1">
          <!-- <div 
            style="
                max-width: 110px;
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                top: 0;
            "
            class="dots-block1"
          >
            <div class="ellipse-1" *ngFor="let dot of dotsBlock1"></div>
          </div>
          <div
          style="
                max-width: 500px;
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                top: 0;
                right: 0;
            "
            class="dots-block2"
          >
            <div class="ellipse-1" *ngFor="let dot of dotsBlock2"></div>
          </div> -->
          <div 
          style="
              top: 20% !important;
              left: 41% !important;
              max-width: 322px !important;
          "
          class="hover1">
            <div class="hover2">
              <button type="button" (click)="toggleExpansion(true, 0)">
                JOIN US <span style="margin-right: 10px">>></span>
              </button>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div 
        style="background: url(../../../../../assets/images/banner3.png) no-repeat;"
        class="block1">
          <!-- <div 
            style="
                max-width: 110px;
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                top: 0;
            "
            class="dots-block1"
          >
            <div class="ellipse-1" *ngFor="let dot of dotsBlock1"></div>
          </div>
          <div
          style="
                max-width: 500px;
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                top: 0;
                right: 0;
            "
            class="dots-block2"
          >
            <div class="ellipse-1" *ngFor="let dot of dotsBlock2"></div>
          </div> -->
          <div 
          style="
          top: 56% !important;
          left: 60% !important;
          max-width: 322px !important;
          "
          class="hover1">
            <div class="hover2">
              <button type="button" (click)="toggleExpansion(true, 0)">
                JOIN US <span style="margin-right: 10px">>></span>
              </button>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div 
        style="background: url(../../../../../assets/images/banner4.png) no-repeat;"
        class="block1">
          <!-- <div 
            style="
                max-width: 110px;
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                top: 0;
            "
            class="dots-block1"
          >
            <div class="ellipse-1" *ngFor="let dot of dotsBlock1"></div>
          </div>
          <div
          style="
                max-width: 500px;
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                top: 0;
                right: 0;
            "
            class="dots-block2"
          >
            <div class="ellipse-1" *ngFor="let dot of dotsBlock2"></div>
          </div> -->
          <div 
          style="
          top: 41% !important;
          left: 49% !important;
          max-width: 322px !important;
          background: white;
          "
          class="hover1">
            <div class="hover2">
              <button type="button" (click)="toggleExpansion(true, 0)">
                JOIN US <span style="margin-right: 10px">>></span>
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
    <div 
    style="position: relative; left: 0;"
    class="hover1 hiden">
      <div class="hover2">
        <button type="button" (click)="toggleExpansion(true, 0)">
          JOIN US <span style="margin-right: 10px">>></span>
        </button>
      </div>
    </div>

    <div data-aos="fade-up" class="block2">
      <div data-aos="fade-right" data-aos-duration="2000" class="dots-block4">
        <div class="ellipse-3" *ngFor="let dot of dotsBlock4"></div>
      </div>
      <div class="title">
        <h2>HOW DOES IT WORK?</h2>
      </div>
      <div
        class="content-wrapper"
      >
        <div data-aos="fade-up" class="content-item" *ngFor="let item of howDoesItWork">
          <h3>{{ item.title }}</h3>
          <img src="{{ item.image }}" alt="image" />
          <p>{{ item.desc }}</p>
        </div>
      </div>
    </div>

    <div class="block3">
      <div  data-aos="fade-up" class="title">
        <h2>HOW TO PLAY?</h2>
      </div>
      
      <div  data-aos="fade-up" class="video-wrapper">
        <iframe
          height="500"
          class="video"
          src="https://www.youtube.com/embed/C6Dyb2mu-pA"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div data-aos="fade-up" class="block4">
      <div data-aos="fade-right" data-aos-duration="2000" class="dots-block3">
        <div class="ellipse-2" *ngFor="let dot of dotsBlock3"></div>
      </div>
      <div data-aos="fade-up" class="hover1">
        <div class="hover2">
          <button type="button" (click)="toggleExpansion(true, 1000)">
            JOIN US
            <span style="margin-left: 20px">
              <img src="../../../../../assets/images/arrow.png" alt="" />
            </span>
            <span>
              <img src="../../../../../assets/images/arrow.png" alt="" />
            </span>
          </button>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <img src="../../../../../assets/images/LOGO.png" alt="logo" />
    <div class="sotial">
      <a href="https://www.instagram.com/puckhunt/" style="padding: 6px 6px;" class="sotial-item">
        <img src="../../../../../assets/images/instagram.png" alt="instagram" />
      </a>
      <a href="https://www.youtube.com/channel/UC1dLkYZN8jo0_WDPmrLmD0Q" style="padding: 10px 6px;" class="sotial-item">
        <img src="../../../../../assets/images/youtube.png" alt="youtube" />
      </a>
    </div>
  </footer>
</main>

<div *ngIf="requested" class="page-wrapper">
  <div class="logo-wrapper">
    <img
      style="max-width: 200px"
      src="../../../../assets/images/LOGO.png"
      alt="logo"
    />
  </div>
  <h1 style="text-align: center; margin-top: 50px">
    Thank you! Your request has been sent successfully!
  </h1>
  <h2 style="text-align: center; margin-top: 50px">
    Please wait for your email which will contain your login and
    password.
  </h2>
</div>

<div *ngIf="oops" class="page-wrapper">
  <div class="logo-wrapper">
    <img
      style="max-width: 200px"
      src="../../../../assets/images/LOGO.png"
      alt="logo"
    />
  </div>
  <h2 style="text-align: center; margin-top: 50px">OOPS!</h2>
</div>
