*{
    font-family: futuraBold;
    transition: all 1s;
}
main {
    overflow-x: hidden;
}
.register-wrapper{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    .input{
        width: 47%;
        margin: 0 auto;
    }
}
.hover1{
    border-radius: 8px;
    padding: 11px 12px;
    position: absolute;
    top: 55%;
    left: 7%;
    transition: all 1s;
    cursor: pointer;
    .hover2{
        border-radius: 8px;
        padding: 9px 14px;
        text-align: center;
        transition: all 0.5s;
        button{
            margin: 0 auto;
            text-align: center;
            font-size: 25px;
            padding: 17px 75px;
            border-radius: 7px;
            background-color: #00adef;
            color: #ffffff;
            transition: all 1s;
        }
        .disabled{
            background: #a7a9ac69;
        }
    }
}

.dots-block4 {
    display: none;
}
.hover1:hover{
    background-color: #a7a9ac20;
    transition: all 1s;
}
.hover1:hover > .hover2{
    background-color: #a7a9ac20;
    transition: all 0.5s;
}
.hover1:hover > .hover2 button{
    opacity: 0.7;
    transition: all 1s;
}

.have-acc {
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin: 0 auto;           
}
.favT {
    display: flex; 
    justify-content: center;
}
main{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: #f1f1f1;
    header{
        width: 100%;
        max-height: 120px;
        height: 120px;
        display: flex;
        justify-content: space-between;
        outline: solid 0.5px #ffffff;
        background-color: #f1f1f1;
        .image{
            height: inherit;
            // background: #ffffff;
            padding: 0 33px;
            img{
                height: inherit;
                width: auto;
            }
        }
        .sign-in-up{
            padding: 44px 45px 46px;
            position: relative;
            display: flex;
        }
        .sign-in-up span{
            color: #a7a9ac;
            margin: 0 40px;
            cursor: pointer;
            font-weight: 600;
            font-size: 25px;
            position: relative;
        }
        .sign-in-up span:hover{
            top: 2px;
        }
        .sign-in-up span:nth-child(2):after {
            content: "";
            width: 0;
            height: 66px;
            position: absolute;
            border: 1px solid #00adef;
            top: 6px;
            left: 0;
        }
        .sign-in-up span:nth-child(2):before {
            content: "";
            width: 0;
            height: 27px;
            position: absolute;
            border: 1px solid #00adef;
            top: -43px;
            right: -2px;
        }
    }
    section{
        height: auto;
        width: inherit;
        .hiden {
            display: none;
        }
        .block1{
            width: inherit;
            height: 70vh;
            max-height: 660px;
            background-repeat: no-repeat !important;
            background-position-x: center !important;
            background-position-y: center !important;
            background-size: cover !important;
            background-color: white!important;
            border-top: 2px solid #00adef;
            position: relative;
            .dots-block1{
                .ellipse-1 {
                    width: 8px;
                    height: 8px;
                    background-color: #00adef75;
                    margin: 12px;
                    border-radius: 50%;
                    opacity: 0.4;
                }
            }
            .dots-block2{
                .ellipse-1 {
                    width: 8px;
                    height: 8px;
                    background-color: #00adef75;
                    margin: 12px;
                    border-radius: 50%;
                    opacity: 0.4;
                }
            }
        }

        .block2{
            height: auto;
            width: auto;
            padding: 65px 65px 0;
            background-image: url(https://puckhunt.s3-us-west-1.amazonaws.com/25.png);
            background-position-x: 500%;
            background-position-y: -26%;
            background-size: 95%;
            background-repeat: no-repeat;
            .title{
                background: #ffffff;
                width: 568px;
                position: relative;
                left: 0px;
                text-align: end;
                padding: 11px;
                h2{
                    font-size: 30px;
                    color: #000000;
                    margin: 0;
                    position: relative;
                    left: 230px;
                }
            }
            .content-wrapper{
                display: flex;
                padding-top: 90px;
                padding-bottom: 90px;
                .content-item{
                    cursor: pointer;
                    width: 315px;
                    box-sizing: border-box;
                    background: #fff;
                    padding: 28px 33px;
                    text-align: center;
                    margin-right: 96px;
                    position: relative;
                    margin-bottom: 15px;
                    transition: .5s ease-in-out;
                    h3{
                        font-size: 25px;
                        color: #000000;
                    }
                    p{
                        font-size: 20px;
                        font-family: futura;
                        color: #a7a9ac;
                    }
                }
                .content-item:hover{
                    box-shadow: 0px 0px 22px 11px #79787842;
                }
            }
        }
        .block3{
            padding: 0 65px 80px 65px;

            .title{
                background: #ffffff;
                width: 568px;
                position: relative;
                left: 0px;
                text-align: end;
                padding: 11px;
                margin: 0 0 50px 0;
                h2{
                    font-size: 30px;
                    color: #000000;
                    margin: 0;
                    position: relative;
                    left: 300px;
                }
            }
            .texst-wrapper{
                position: relative;
                text-align: center;
                padding: 11px;
                h3{
                    font-size: 30px;
                    color: #000000;
                    margin: 0 auto;
                    position: relative;
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: -3px;
                    left: 0;
                    width: 51%;
                    height: 60px;
                    background: #fff;
                }
            }
            .video-wrapper{
                width: 80%;
                margin: 0 auto;
                height: 66vh;
                .video{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .block4{
            display: flex;
            position: relative;
            padding: 0 0 55px 0;
            .dots-block3{
                padding: 25px 0 33px;
                max-width: 995px;
                display: flex;
                flex-wrap: wrap;
                .ellipse-2 {
                    width: 8px;
                    height: 8px;
                    background-color: #a7a9acb3;
                    margin: 12px;
                    border-radius: 50%;
                    opacity: 0.4;
                }
            }
            .hover1{
                top: 14%;
                left: 50%;
                transform: translate(-50%);
            }
        }
    }
    footer{
        padding: 14px 0 37px;
        max-height: 300px;
        height: auto;
        background-color: #00adef;
        text-align: center;
        img{
            max-width: 413px;
            width: 100%;
            margin: 0 0 10px 0;

        }
        .sotial{
            display: flex;
            max-width: fit-content;
            margin: 0 auto;
            .sotial-item{
                width: 41px;
                height: 41px;
                border-radius: 50%;
                padding: 7px;
                box-sizing: border-box;
                cursor: pointer;
                margin: 0 15px;
                transition: all 0.5s;
            }
            .sotial-item:hover{
                padding: 5px;
                transition: all 0.5s;
                width: 45px;
                height: 45px;
            }
        }
    }
}

.page-wrapper{
    height: auto;
    background: #f1f1f1;
    padding: 20px;
}
.line{
    width: 100%;
    border: solid 1px #00aae8;
    margin: 20px auto 23px;
    position: relative;
    .half-circle {
        cursor: pointer;
        width: 68px;
        height: 30px;
        background-color: #00aae8;
        border-bottom-left-radius: 110px;
        border-bottom-right-radius: 110px;
        border-bottom: 0;
        position: absolute;
        left: 50%;
        top: 0;
        text-align: center;
        transform: translate(-50%);
        img{
            transform: rotate(-90deg);
        }
    }
    .half-circle:hover{
        padding: 3px;
    }
}

h1, h2{
    color: #2b303cad;
}
.invite-wrapper{
    width: 60%;
    margin: 0 auto;
}


@media screen and (max-width: 1920px) {
    main {
        max-width: 1440px;
    }
    main header {
        max-height: 80px;
        height: 80px;
        .sign-in-up{
            padding: 26px 45px 46px;
        }
    }
    .hover1 {
        top: 50%;
    }
    main section{
        .block1{
            .dots-block1{
                .ellipse-1 {
                    margin: 10px;
                }
            }
            .dots-block2{
                .ellipse-1 {
                    margin: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) { 

    .hover1 {
        top: 55%;
    }

    main section .main-img {
        background-position: 50% 90%;
        .dots-block1 {
            bottom: 0;
        }
    }

    .page-wrapper{
        height: 100%;
        padding: 0 10px 0;
    }

    .action-buttons {
        width: 100%;
        margin: 20px 0 10px 0;
    }

    .action-buttons > div {
        position: relative;
        top: -20px; 
        left: 50%;
        transform: translate(-50%);
    }

    .favorite-team-input {
        width: 760px;
    }

    main section  .block2 {
        background-position-y: -7%;
        padding-top: 133px;
        padding-bottom: 120px;
        margin-bottom: -160px;
        .content-wrapper{
            flex-wrap: wrap;
            display: flex;
            .content-item{
                width: 25%;
            }
        }
    }
    
    main section .block3{
        padding: 0 65px;
        .texst-wrapper{
            h3{
                font-size: 30px;
            }
            p{
                font-size: 20px;
                color: #a7a9ac;
                line-height: 1.75;
                text-align: start;
                letter-spacing: 1px;
            }
        }
    }
}


@media screen and (max-width: 1280px) {

    main section{
        .block1{
            height: 50vw;
        }
    }

    main section .block2 {
        margin-top: 0px;
        background-position-y: 0%;
    }

    main section .main-img .hover1 {
        top: 61%;
    }
    main section .second-img .hover1 {
        top: 51%;
    }
    main section .block2 .content-wrapper{
        // flex-direction: column;
        margin: 0 auto;
        .content-item {
            width: 30%;
            padding: 15px;
            margin: 0 auto 10px auto;
        }
    }

    .input-wrapper{ 
        width: 68%;
    }

    .have-acc {
        width: 70%;
    }

    main section .block2 .title {
        left: 50%;
        transform: translate(-108%);
        margin-top: 20px;
    }
    main section .block3 .title{
        left: 50%;
        transform: translate(-110%);
        margin-top: 20px;
    }

    .main-img {
        .ellipse-1 {
            display: none;
        }
        .ellipse-2 {
            display: none;
        }
    } 
    .second-img {
        .ellipse-1 {
            display: none;
        }
        .ellipse-2 {
            display: none;
        }
    }
    main section .block3 {
        .video-wrapper{
            width: 100%;
            height: 60vh;
        }
    }
}

@media screen and (max-width: 960px) { 
    
    .register-wrapper{
        width: 90%;
        display: block;
        margin: 0 auto;
        .input{
            width: 97%;
            margin: 0 auto;
        }
    }
    main header .image {
        padding: 0;
    }
    main header .sign-in-up{
        display: flex;
        width: auto;
        margin: 0 auto;
        padding: 44px 45px 46px !important;
    }
    main header .sign-in-up span{
        font-size: 20px;
    }
    main header .sign-in-up span:nth-child(2):before {
        content: "";
        width: 0;
        height: 27px;
        position: absolute;
        border: 1px solid #00adef;
        top: -32px;
        right: -2px;    
    }
    main header .sign-in-up span:nth-child(2):after {
        content: "";
        width: 0;
        height: 45px;
        position: absolute;
        border: 1px solid #00adef;
        top: 6px;
        left: 0;   
    }
    
    main section .block1 {
        height: 50vw;
        .dots-block1, .dots-block2{
            display: none !important;
        }
    }
    main section {
        .my-carousel .block1 .hover1 {
            display: none;
        }
        .hiden {
            display: block;
            position: relative;
            max-width: 260px;
            left: 50% !important;
            transform: translate(-50%);
            .hover2{
                button{
                    font-size: 18px;
                    padding: 12px 60px;
                }
            }
        }
    }
    header{
        flex-wrap: wrap;
        padding-bottom: 96px;
        div {
            width: 100%;
        }
        .image {
            text-align: center;
            height: 240px;
            padding: 0;
            img {
                padding: 0;
            }
        }
        .sign-in-up {
            height: 80px;
            padding: 32px 0 0 0 !important;
            text-align: center;
        }
    } 



    main section .block2 .content-wrapper{
        .content-item {
            width: 55%;
        }
    }

    main section .block1{
        margin: 0;
        border-top: none;
    }

    main section .block2 {
        background-position-y: 2%;
    }

    .main-img {
        .hover1 {
            left: 50%;
            transform: translate(-50%);
            top: 70%;
            button {
                font-size: 18px;
                padding: 13px 50px;
                min-width: 199px;
            }
        }
    } 
    .second-img {
        .hover1 {
            top: 50%;
            button {
                font-size: 18px;
                padding: 13px 50px;
            }
        }
    }

    main section .block3{
        .video-wrapper{
            width: 95%;
            height: 35vh;
            .video{
                width: 100%;
                height: 100%;
            }
        }
    }

    .block4 {
        .hover1 {
            button {
                padding: 12px 25px;
                width: 240px;
            }
        }
    }
 }

 @media screen and (max-width: 700px)  {
     
    main header {
        max-height: 88px;
        height: 107px;
        .image {
            height: 132px;
            img{
                width: inherit;
            }
        }
        .sign-in-up {
            padding: 0 0 0 0 !important;
        }
    }

    main section .second-img .hover1 {
        top: 50%;
        left: 2%;
    }
    

    .sign-in-up span:nth-child(2):after {
        display: none;
    }
    .sign-in-up span:nth-child(2):before {
        display: none;
    }

    main form {
        padding: 0!important;
    }
   main section .input-wrapper {
        width: 100%;
    }

    main section .favorite-team-input {
        width: 76%;
        margin-right: 10px;
    }
    main section .action-buttons {
        width: 50%;
    }
    main section .block2 .content-wrapper{
        .content-item {
            width: 80%;
        }
    }

    main section .block2 {
        background-position-y: 0%;
    }

    main section .block3{
        padding: 0;
        .texst-wrapper{
            h3{
                font-size: 30px;
            }
            p{
                font-size: 20px;
                color: #a7a9ac;
                line-height: 1.75;
                text-align: start;
                letter-spacing: 1px;
            }
        }
        
    }
    main section .block4{
        .dots-block3{
            height: 90px;
        }
    }

    .have-acc {
        width: 100%;
    }
    main footer {
        z-index: 80;
        margin-top: -50px;
        position: relative;
    }
 }

 @media screen and (max-width: 480px)  {
    main header {
        .image{
            height: auto;
        }
        .sign-in-up span {
            font-size: 22px;
        }
    }

     main header{
         .image{
             width: inherit;
             img{
                width: 65%;
             }
         }
         .sign-in-up{
             z-index: 999;
         }
     }

     main section .hover1 .hover2 {
        button {
            padding: 11px 27px;
            font-size: 16px;
        }
    }

    .main-img {
        .hover1 {
            top: 62%;
            button {
                padding: 13px 40px;
            }
        }
    } 
    .second-img {
        .hover1 {
            left: 0;
            top: 46%;
            button {
                padding: 13px 40px;
            }
        }
    }

    main section .block2 .content-wrapper{
        padding-top: 60px;
        .content-item {
            width: 95%;
        }
    }
    .line .half-circle {
        right: 44%;
    }
    main section .block2 {
        padding: 50px 0 0 0;
        margin-bottom: 80px;
        .title{
            h2{
                left: 180px;
                font-size: 24px;
            }
        }
    }
    main section .block2 {
        background-position-y: -2%;
        background-position-x: 520%;
    }
    .dots-block4{
        position: absolute;
        top: -94px;
        left: 0;
        padding: 25px 0 33px;
        max-width: 144px;
        display: flex;
        flex-wrap: wrap;
        .ellipse-3 {
            width: 8px;
            height: 8px;
            background-color: #00aae8;
            margin: 12px;
            border-radius: 50%;
            opacity: 0.4;
        }
    }

    main section .block2 .content-wrapper {
        padding-bottom: 0;
    }

    .sign-in-up {
        padding: 44px 20px 46px;
        width: 100%;
    }
    
    main section .block3{
        .texst-wrapper{
            h3{
                font-size: 22px;
            }
        }
        .title {
            text-align: center;
            max-width: 100%;
            transform: translate(-110%);
            h2 {
                left: 61%;
                max-width: 95%;
                font-size: 24px;
                padding-left: 4px;
                margin: 0 auto;
                text-align: center;
                word-break: break-word;
            }
        }
    }

    main section .block4 .hover1 button {
        padding: 12px 4px;
        width: 156px;
    }
 }

 @media screen and (max-width: 430px)  {
    main header{
        max-height: 50px;
    }
    main header .sign-in-up {
        padding: 44px 0px 46px;
        span {
            margin: 0 10px;
        }
    }
    main section .block2 {
        background-position-y: -2%;
        padding: 0;
        .content-wrapper{
            .content-item {
                padding: 20px 3px 0 3px;
                width: 95%;
            }
        }
    }

    main section .favT {
        flex-wrap: wrap;
        .favorite-team-input {
            width: 100%;
        }
    }

    main section .favorite-team-input {
        margin-right: 0;
    }
  }

  @media screen and (max-width: 370px ) {
    main section .action-buttons {
        width: 62%;
    }

    
    main section .block2 {
        background-position-y: 0%;
    }

    .hover1 .hover2 {
        padding: 9px 0px;
    }

    .hover1 .hover2 button {
        padding: 17px 35px;
    }

    .main-img {
        .hover1 {
            top: 18%
        }
    } 
    .second-img {
        .hover1 {
            top: 16%
        }
    }

    .line .half-circle {
        right: 42%;
    }

    .line {
        width: 90%;
        margin: 16px auto 23px;
    }
  }

  @media screen and (max-width: 320px) {
    main section .action-buttons {
        width: 81%;
    }
  }