*{
    font-family: futuraBold;
    transition: all 1s;
}
.hover1{
    border-radius: 8px;
    padding: 11px 12px;
    position: absolute;
    top: 55%;
    left: 7%;
    transition: all 1s;
    .hover2{
        border-radius: 8px;
        padding: 9px 14px;
        text-align: center;
        transition: all 0.5s;
        button{
            margin: 0 auto;
            text-align: center;
            font-size: 25px;
            padding: 17px 75px;
            border-radius: 7px;
            background-color: #00adef;
            color: #ffffff;
            transition: all 1s;
        }
    }
}

.dots-block4 {
    display: none;
}
.hover1:hover{
    background-color: #a7a9ac20;
    transition: all 1s;
}
.hover1:hover > .hover2{
    background-color: #a7a9ac20;
    transition: all 0.5s;
}
.hover1:hover > .hover2 button{
    opacity: 0.7;
    transition: all 1s;
}
.owl-nav .owl-prev{
    position: absolute;
    left: 21px;
    top: 450px;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 14px;
    font-size: 93px;
    background: transparent;
    color: #00adef;

    display: block!important;
}
.my-carousel .owl-nav .owl-next{
    position: absolute;
    right: 21px;
    top: 450px;

    border-radius: 50%;
    padding: 14px;
    font-size: 93px;
    background: transparent;
    color: #00adef;

    display: block!important;
}

.have-acc {
    display: flex;
    justify-content: space-around;
    width: 18%;
    margin: 0 auto;           
}
.favT {
    display: flex; 
    justify-content: center;
}
main{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: #f1f1f1;
    header{
        width: 100%;
        max-height: 120px;
        height: 120px;
        display: flex;
        justify-content: space-between;
        border: solid 0.5px #ffffff;
        background-color: #f1f1f1;
        .image{
            height: inherit;
            background: #00adef;
            padding: 0 33px;
            img{
                height: inherit;
            }
        }
        .sign-in-up{
            padding: 44px 45px 46px;
            position: relative;
        }
        .sign-in-up span{
            color: #a7a9ac;
            margin: 0 40px;
            cursor: pointer;
            font-weight: 600;
            font-size: 25px;
            position: relative;
        }
        .sign-in-up span:hover{
            top: 2px;
        }
        .sign-in-up span:nth-child(1):after {
            content: "";
            width: 0;
            height: 68px;
            position: absolute;
            border: 1px solid #00adef;
            top: 6px;
            left: 130px;
        }
        .sign-in-up span:nth-child(2):before {
            content: "";
            width: 0;
            height: 27px;
            position: absolute;
            border: 1px solid #00adef;
            top: -43px;
            right: 122px;
        }

    }
    section{
        height: auto;
        width: inherit;
        .my-carousel .hiden {
            display: none;
        }
        .block1{
            width: inherit;
            height: 1000px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: bottom;
            position: relative;
            .dots-block1{
                padding: 25px 33px;
                max-width: 266px;
                display: flex;
                flex-wrap: wrap;
                .ellipse-1 {
                    width: 8px;
                    height: 8px;
                    background-color: #00adef;
                    margin: 12px;
                    border-radius: 50%;
                    opacity: 0.4;
                }
            }
            .dots-block2{
                padding: 25px 0 33px;
                max-width: 554px;
                display: flex;
                flex-wrap: wrap;
                right: 0;
                position: absolute;
                top: 335px;
                .ellipse-1 {
                    width: 8px;
                    height: 8px;
                    background-color: #00adef;
                    margin: 12px;
                    border-radius: 50%;
                    opacity: 0.4;
                }
            }
            
        }

        .main-img {
            .dots-block1 {
                position: absolute;
                bottom: 30px;
            }
            .dots-block2 {
                position: absolute;
                top: 335px;
            }
        } 
        .second-img {
            .dots-block1 {
                position: absolute;
                bottom: 320px;
            }
            .dots-block2 {
                position: absolute;
                top: 280px;
            }
        }

        .block2{
            height: auto;
            width: auto;
            padding: 65px 65px 0;
            background-image: url(../../../../../assets/images/25.png);
            background-position-x: 318%;
            background-position-y: -26%;
            background-size: 95%;
            background-repeat: no-repeat;
            .title{
                background: #ffffff;
                width: 568px;
                position: relative;
                left: 0px;
                text-align: end;
                padding: 11px;
                h2{
                    font-size: 30px;
                    color: #000000;
                    margin: 0;
                    position: relative;
                    left: 230px;
                }
            }
            .content-wrapper{
                display: flex;
                padding-top: 90px;
                padding-bottom: 239px;
                .content-item{
                    cursor: pointer;
                    width: 315px;
                    box-sizing: border-box;
                    background: #fff;
                    padding: 28px 33px;
                    text-align: center;
                    margin-right: 96px;
                    position: relative;
                    margin-bottom: 15px;
                    h3{
                        font-size: 25px;
                        color: #000000;
                    }
                    p{
                        font-size: 20px;
                        font-family: futura;
                        color: #a7a9ac;
                    }
                    .background{
                        position: absolute;
                        top: 92px;
                        left: 100px;
                    }
                }
                .content-item:hover{
                    box-shadow: 0px 0px 22px 11px #79787842;
                }
                .content-item:hover > .background{
                    top: 84px;
                    left: 110px;
                }
            }
        }
        .block3{
            padding: 0 65px 113px 65px;

            .title{
                background: #ffffff;
                width: 568px;
                position: relative;
                left: 0px;
                text-align: end;
                padding: 11px;
                margin: 0 0 50px 0;
                h2{
                    font-size: 30px;
                    color: #000000;
                    margin: 0;
                    position: relative;
                    left: 155px;
                    
                }
            }

            .texst-wrapper{
                position: relative;
                text-align: center;
                padding: 11px;
                h3{
                    font-size: 30px;
                    color: #000000;
                    margin: 0 auto;
                    position: relative;
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: -3px;
                    left: 0;
                    width: 51%;
                    height: 60px;
                    background: #fff;
                }
            }
            .video-wrapper{
                width: 80%;
                margin: 0 auto;
                height: 50vw;
                .video{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .block4{
            display: flex;
            position: relative;
            padding: 0 0 55px 0;
            .dots-block3{
                padding: 25px 0 33px;
                max-width: 995px;
                display: flex;
                flex-wrap: wrap;
                .ellipse-2 {
                    width: 8px;
                    height: 8px;
                    background-color: #a7a9acb3;
                    margin: 12px;
                    border-radius: 50%;
                    opacity: 0.4;
                }
            }
            .hover1{
                top: 14%;
                left: 50%;
                transform: translate(-50%);
            }
        }
    }
    footer{
        padding: 14px 0 37px;
        max-height: 300px;
        height: auto;
        background-color: #00adef;
        text-align: center;
        img{
            max-width: 413px;
            width: 100%;
        }
        .wrapper{  
            margin: 0 0 30px 0;  
            display: flex;
            justify-content: center;        
            div{
                font-family: futura !important;
                cursor: pointer;
                font-size: 25px;
                color: #ffffff;
                line-height: 1.2;
                letter-spacing: 1.25px;
            }
        }
        .sotial{
            display: flex;
            max-width: fit-content;
            margin: 20px auto;
            .sotial-item{
                width: 41px;
                height: 41px;
                background: #ffffff;
                border-radius: 50%;
                padding: 7px;
                box-sizing: border-box;
                cursor: pointer;
                margin: 0 15px;
                transition: all 0.5s;
            }
            .sotial-item:hover{
                padding: 5px;
                transition: all 0.5s;
                width: 45px;
                height: 45px;
            }
        }
    }
}





.page-wrapper{
    height: 40vh;
    background: #f1f1f1;
    padding: 20px;
}
.line{
    width: 100%;
    border: solid 1px #00aae8;
    margin: 15px auto 23px;
    .half-circle {
        cursor: pointer;
        width: 68px;
        height: 30px;
        background-color: #00aae8;
        border-bottom-left-radius: 110px;
        border-bottom-right-radius: 110px;
        border-bottom: 0;
        position: absolute;
        left: 50%;
        text-align: center;
        transform: translate(-50%);
        img{
            transform: rotate(-90deg);
        }
    }
    .half-circle:hover{
        padding: 3px;
    }
}



h1, h2{
    color: #2b303cad;
}
.invite-wrapper{
    width: 60%;
    margin: 0 auto;
}
.error-innput-wrapper {
    input, .favorite-team-input {
        border-bottom: 3px solid #FA6363;
        border: 1.5px solid #FA6363 !important;
    }

    label {
        color: #FA6363 !important;
    }
}
.input-wrapper {
    img {
        position: absolute;
        top: 35px;
        right: 16px;
        cursor: pointer;
    }

    position: relative;
}

input, select {
    background: #FFFFFF;
    border: 1px solid #7b7b7b57;
    border-bottom: 3px solid silver;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0 15px 0;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
}

.favorite-team-input{
    background: #FFFFFF;
    border: 1px solid #7b7b7b57;
    border-bottom: 3px solid silver;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
    width: 65%;
    font-size: 16px;
    line-height: 20px;
}

label {
    font-size: 14px;
    line-height: 18px;
    color: #00aae8;
    margin-right: 20px;
}
.action-buttons {
    width: 35%;
    button {
        color: #ffffff;
        margin: 0;
    }


    .none-background-button {
        background: transparent;
        padding: 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-decoration: underline;
    }

    .background-button {
        width: 100%;
        background: #00aae8;
        border-radius: 4px;
        padding: 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .disabled {
        background-color: #7f8fa445 !important;
    }

    margin: 25px 0 0 0;
    display: flex !important;
    justify-content: space-between;
}

.action-buttons > div {
    position: relative;
    top: 0; 
    left: 0;
}

.logo-wrapper {
    text-align: center;
    h1 {
        margin: 0;
        font-size: 65px;
        text-align: center;
        color: #34af74;
        padding: 20vh 0 0 0;
    }
    margin-top: 80px;
    width: 100%;
    height: auto;
}

.register-wrapper {
    margin: 0 auto;
    height: auto;
    width: 60%;
    padding: 30px 30px 0;
    display: flex;
    flex-wrap: wrap;
    *{
        font-family: futura !important;
    }

    .input-wrapper{
        width: 40%;
        display: block;
        font-family: futura;
        margin: 0 auto;
    }
    .select{
        width: 90%;
    }
}

.error-innput-wrapper {
    input {
        border-bottom: 3px solid #FA6363;
        border: 1.5px solid #FA6363 !important;
    }

    label {
        color: #FA6363 !important;
    }
}

.input-wrapper {
    img {
        position: absolute;
        top: 35px;
        right: 16px;
        cursor: pointer;
    }

    position: relative;
}

input {
    background: #FFFFFF;
    border: 1px solid #7b7b7b57;
    border-bottom: 3px solid silver;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0 15px 0;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
}

label {
    font-size: 14px;
    line-height: 18px;
    color: #00aae8;
}

.action-buttons {
    button {
        color: #ffffff;
        width: 150px;
        margin: 0 auto;
    }


    .none-background-button {
        background: transparent;
        padding: 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-decoration: underline;
    }

    .background-button {
        background: #00aae8;
        border-radius: 4px;
        padding: 11px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .disabled {
        background-color: #7f8fa445;
    }

    margin: 30px auto 0;
    display: block !important;
    justify-content: space-between;
}





@media screen and (max-width: 1600px) {
    .page-wrapper{
        height: 50vh;
        padding: 10px;
    }

    .have-acc {
        width: 30%;      
    }

   main section{
        .block1{
            height: 50vw;
            .dots-block1{
                bottom: 0;
                max-width: 450px;
            }
            .dots-block2{
                top: 0;
                max-width: 800px;
            }
        }
    }

    main section .second-img {
        .dots-block1 {
            position: absolute;
            bottom: 220px;
        }
    }
}


@media screen and (max-width: 1400px) { 

   main section{
        .block1{
            height: 50vw;
        }
    }

    .page-wrapper{
        height: 100%;
        padding: 0 10px 0;
    }

    .register-wrapper {
        margin: 0 auto;
        height: auto;
        width: 60%;
        padding: 5px 30px 0;
        display: flex;
        flex-wrap: wrap;
        *{
            font-family: futura !important;
        }
    
        .input-wrapper{
            width: 55%;
            display: block;
            font-family: futura;
            margin: 0 auto;
        }
    }

    .action-buttons {
        width: 100%;
        margin: 20px 0 10px 0;
    }

    .action-buttons > div {
        position: relative;
        top: -20px; 
        left: 50%;
        transform: translate(-50%);
    }

    .favorite-team-input {
        width: 760px;
    }

    .main-img {
        
        .dots-block1 {
            bottom: 270px;
        }
        .dots-block2 {
            top: 390px;
        }

        .hover1 {
            top: 56%
        }
    } 
    .second-img {
        .dots-block1 {
            bottom: 380px;
        }
        .dots-block2 {
            top: 340px;
        }

        .hover1 {
            top: 54%
        }
    }

    main section .block2 .content-wrapper{
        flex-direction: column;
        margin: 0 auto;
        .content-item {
            width: 40%;
            margin: 0 auto 10px auto;
        }
    }
    main section  .block2 {
        background-position-y: -7%;
        padding-top: 133px;
        margin-bottom: -160px;
    }
    

    main section .block3{
        padding: 0 65px;
        .texst-wrapper{

            h3{
                font-size: 30px;
            }
            p{
                font-size: 20px;
                color: #a7a9ac;
                line-height: 1.75;
                text-align: start;
                letter-spacing: 1px;
            }
        }
    }

    .main-img {
        .ellipse-1 {
            display: none;
        }
        .ellipse-2 {
            display: none;
        }
    } 
    .second-img {
        .ellipse-1 {
            display: none;
        }
        .ellipse-2 {
            display: none;
        }
    }
}

@media screen and (max-width: 1140px) {

    .register-wrapper {
        width: 85%;
    
        .input-wrapper{
            width: 75%;
        }
        .action-buttons {
            width: 30%;
            margin: 20px auto 0 auto;
        }
    }

    register-wrapper {
        margin: 0 auto;
        height: auto;
        width: 70%;
    }
    .input-wrapper{ 
        width: 68%;
    }

    .have-acc {
        width: 70%;
    }

    main section .block2 .title {
        left: 50%;
        transform: translate(-108%);
        margin-top: 20px;
    }
    main section .block3 .title{
        left: 50%;
        transform: translate(-108%);
        margin-top: 20px;
    }
}

@media screen and (max-width: 960px) { 
    owl-carousel .owl-nav {
        display: none!important;
    }
    main header .image {
        padding: 0;
    } 
    header{
        flex-wrap: wrap;
        padding-bottom: 96px;
        div {
            width: 100%;
        }
        .image {
            text-align: center;
            height: 240px;
            padding: 0;
            img {
                padding: 0;
            }
            
        }
        .sign-in-up {
            height: 80px;
            padding: 32px 0 0 0 !important;
            text-align: center;
        }
    } 

    main section .register-wrapper .action2 {
        width: auto;
    } 

    main section .block2 .content-wrapper{
        .content-item {
            width: 55%;
        }
    }

    .main-img {
        .hover1 {
            left: 50%;
            transform: translate(-50%);
            top: 70%;
            button {
                font-size: 18px;
                padding: 13px 50px;
            }
        }
    } 
    .second-img {
        .hover1 {
            top: 50%;
            button {
                font-size: 18px;
                padding: 13px 50px;
            }
        }
    }


    main footer {
        .wrapper {
            overflow: hidden;
            margin: 0 auto;
            width: 65%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            div {
                width: 40%;
            }
            .line {
                display: none;
            }
        }
    }

    .block4 {
        .hover1 {
            button {
                padding: 12px 25px;
                width: 240px;
            }
        }
    }
 }

 @media screen and (max-width: 700px)  {
    main header {
        max-height: 88px;
        height: 107px;
        .image {
            height: 132px;
        }
        .sign-in-up {
            padding: 15px 0 0 0 !important;
        }
    }

    .sign-in-up span:nth-child(1):after {
        display: none;
    }
    .sign-in-up span:nth-child(2):before {
        display: none;
    }

    main footer {
        .wrapper {
            width: 90%;
            div {
                width: 45%;
                margin: 0;
            }
        }
    }

    main form {
        padding: 0!important;
    }
   main section .input-wrapper {
        width: 100%;
    }

    main section .favorite-team-input {
        width: 76%;
        margin-right: 10px;
    }
    main section .action-buttons {
        width: 50%;
    }
    main section .block2 .content-wrapper{
        .content-item {
            width: 80%;
        }
    }

    main section .block2 {
        background-position-y: 0%;
    }

    main section .block3{
        padding: 0;
        .texst-wrapper{
            h3{
                font-size: 30px;
            }
            p{
                font-size: 20px;
                color: #a7a9ac;
                line-height: 1.75;
                text-align: start;
                letter-spacing: 1px;
            }
        }
        .video-wrapper{
            width: 100%;
            .video{
                width: 100%;
                height: 100%;
            }
        }
    }
    main section .block4{
        .dots-block3{
            height: 90px;
        }
    }

    .have-acc {
        width: 100%;
    }
    main footer {
        z-index: 80;
        margin-top: -50px;
        position: relative;
    }
 }

 @media screen and (max-width: 480px)  {
    main header .sign-in-up span {
        font-size: 22px;
    }
     main section .page-wrapper{
         padding: 0;
         .register-wrapper{
             width: 100%;
             .input-wrapper{
                 .favT{
                     .action-buttons{
                        margin: 5px 0 0 0 !important;
                     }
                 }
             }
             .action-buttons{
                 width: 100%;
             }
         }
     }
     main header{
         .image{
             width: inherit;
             img{
                width: 100%;
             }
         }
         .sign-in-up{
             z-index: 999;
         }
     }
     main section {
        .my-carousel .hiden {
            display: block;
            position: relative;
            left: 0;
            
        }
        .my-carousel .block1 .hover1 {
            display: none;
        }
     }

     main section .hover1 .hover2 {
        button {
            padding: 11px 27px;
            font-size: 16px;
        }
    }

    .main-img {
        .hover1 {
            top: 62%;
            button {
                padding: 13px 40px;
            }
        }
    } 
    .second-img {
        .hover1 {
            left: 0;
            top: 46%;
            button {
                padding: 13px 40px;
            }
        }
    }

    main footer {
        .wrapper {
            width: 95%;
            div {
                width: 41%;
                height: 30px;
                overflow: hidden;
            }
        }
    }

    .owl-prev, .owl-next {
        display: none!important;
      }

      main section .block2 .content-wrapper{
        .content-item {
            width: 95%;
        }
    }
    .line .half-circle {
        right: 44%;
    }
    main section .block2 {
        padding: 50px 0 0 0;
        .title{
            h2{
                left: 180px;
                font-size: 24px;
            }
        }
    }
    main section .block2 {
        background-position-y: -2%;
        background-position-x: 520%;
    }
    .dots-block4{
        position: absolute;
        top: -94px;
        left: 0;
        padding: 25px 0 33px;
        max-width: 144px;
        display: flex;
        flex-wrap: wrap;
        .ellipse-3 {
            width: 8px;
            height: 8px;
            background-color: #00aae8;
            margin: 12px;
            border-radius: 50%;
            opacity: 0.4;
        }
    }

    .sign-in-up {
        padding: 44px 20px 46px;
        width: 100%;
    }
    .sign-in-up span:nth-child(1):after {
        display: none;
    }
    .sign-in-up span:nth-child(2):before {
        display: none;
    }
    main section .block3{
        .texst-wrapper{
            h3{
                font-size: 22px;
            }
        }
    }

    main section .block4 .hover1 button {
        padding: 12px 4px;
        width: 156px;
    }
 }

 @media screen and (max-width: 430px)  {

    main footer .wrapper div {
        font-size: 19px;
    }

    main footer {
        .wrapper {
            width: 95%;
            div {
                width: 65%;
            }
            .line2 {
                display: none;
            }
        }
    }
    main section .block2 {
        background-position-y: -2%;
        padding: 0;
        .content-wrapper{
            .content-item {
                padding: 20px 3px 0 3px;
                // height: 360px;
                width: 95%;
            }
        }
    }

    main section .favT {
        flex-wrap: wrap;
        .favorite-team-input {
            width: 100%;
        }
    }

    main section .favorite-team-input {
        margin-right: 0;
    }
  }

  @media screen and (max-width: 370px ) {
    main section .action-buttons {
        width: 62%;
    }

    main header .sign-in-up {
        padding: 44px 0px 46px;
        span {
            margin: 0 10px;
        }
    }
    main section .block2 {
        background-position-y: 0%;
    }

    .hover1 .hover2 {
        padding: 9px 0px;
    }

    .hover1 .hover2 button {
        padding: 17px 35px;
    }

    .main-img {
        .hover1 {
            top: 18%
        }
    } 
    .second-img {
        .hover1 {
            top: 16%
        }
    }

    .line .half-circle {
        right: 42%;
    }

    .line {
        width: 90%;
        margin: 16px auto 23px;
    }
  }

  @media screen and (max-width: 320px) {
    main section .action-buttons {
        width: 81%;
    }
  }