<div class="friend-wrapper">
  <h1 style="margin-left: 50px; color: black;">
    
  </h1>
  <div class="image">
    <img src="../../../../../../assets/images/Web_Puckhunt_Logo.png" alt="logo">
  </div>
  <form [formGroup]='formInvite'  class="invite-wrapper">
    <h2 style="text-align: center;">For your reference</h2>

    <div [ngClass] = "{'error-innput-wrapper' : formInvite.controls['email'].invalid && !formInvite.controls['email'].untouched}" class="input-wrapper">
      <label for="email">Email</label>
      <input (keyup)="inputHandler()" formControlName="email">
    </div>

    <div class="action-buttons">
      <button disabled="{{!submitButtonDisabled}}" mat-button class="background-button" (click)="submitForm()" [ngClass]="{'disabled' : submitButtonDisabled == false}" style="margin: auto">Invite</button>
    </div>
  </form>
</div>