* {
    box-sizing: border-box;
}
.wrapper {
    background: url('../../../../assets/images/image_3.jpg');
    background-repeat: no-repeat;
    height: calc(100vh - 100px);
    padding: 100px 0 0 0;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.page-wrapper {
    height: 410px;
    padding: 30px;
    width: 450px;
    margin: 0 auto;
    background: #ffffff;
}
.logo-wrapper {
    text-align: center;
    h1 {
        margin: 0;
        font-size: 65px;
        text-align: center;
        color: #34af74;
        padding: 20vh 0 0 0;
    }
    width: 100%;
    height: auto;
}

.register-wrapper {
    margin: 40px auto 0;
    height: 200px;
    width: 400px;
    padding: 30px;

    
    & * {
        display: block;
        font-family: Roboto
    }
}

.error-innput-wrapper {
    input {
        border: 1.5px solid #FA6363 !important;
    }

    label {
        color: #FA6363 !important;
    }
}

.input-wrapper {
    img {
        position: absolute;
        top: 35px;
        right: 16px;
        cursor: pointer;
    }

    position: relative;
}

input {
    background: #FFFFFF;
    border: 1px solid #00aae8;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0 15px 0;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
}

label {
    font-size: 14px;
    line-height: 18px;
    color: #00aae8;
}

.action-buttons {
    button {
        color: #ffffff;
        width: 150px;
        margin: 0;
    }


    .none-background-button {
        background: transparent;
        padding: 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-decoration: underline;
    }

    .background-button {
        background: #00aae8;
        border-radius: 4px;
        padding: 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .disabled {
        background-color: #7f8fa445;
    }

    margin: 25px 0 0 0;
    display: flex !important;
    justify-content: space-between;
}


@media screen and (max-width: 768px) {
    .page-wrapper {
        width: 75%;
    }
    .register-wrapper {
        width: 90%;
    }
}
@media screen and (max-width: 480px) {
    .page-wrapper {
        width: 85%;
        padding: 20px 10px 20px 10px;
    }
    .register-wrapper {
        width: auto;
    }
}
@media screen and (max-width: 370px) {
    .page-wrapper {
        width: 98%;
        padding: 20px 0 20px 0;
    }
}