<div *ngIf="!mobileVersion" class="wrapper">
  <div *ngIf="!emailValid" class="page-wrapper">
    <div class="logo-wrapper">
      <img style="max-width: 200px;" src="../../../../assets/images/LOGO.png" alt="logo">
    </div>
    <h2
    style="
      text-align: center;
      margin-top: 60px;
      color: #a0a0a0;
    "
    >Reset Password</h2>
    <form [formGroup]='formEmail' class="register-wrapper">
  
      <div [ngClass] = "{'error-innput-wrapper' : formEmail.controls['email'].invalid && !formEmail.controls['email'].untouched}" class="input-wrapper">
        <label for="email">Email</label>
        <input (keyup)="_inputHandler()" formControlName="email">
      </div>
  
      <div class="action-buttons">
        <button disabled="{{!submitButtonDisabled}}" mat-button class="background-button" (click)="_submitForm()" [ngClass]="{'disabled' : submitButtonDisabled == false}" style="margin: auto">Submit</button>
      </div>
    </form>
  </div>
  
  <div *ngIf="emailValid" class="page-wrapper">
    <div class="logo-wrapper">
      <img style="max-width: 200px;" src="../../../../assets/images/LOGO.png" alt="logo">
    </div>
    <h2
    style="
      text-align: center;
      margin-top: 100px;
      color: #a0a0a0;
    "
    >A new password has been sent to your email address.</h2>
  </div>
</div>
<div *ngIf="mobileVersion" class="wrapper">
  <div 
  style="height: auto;"
  class="page-wrapper">
    "We recommend using your desktop. Our mobile version is coming soon."
  </div>
</div>