<div *ngIf="gameData">
  <div class="head-wrapper">
    <div class="some-wrapper">
      <div id="image-box">
        
        <div *ngIf="gameData.dateTo >= currDateConv">
          <img
            #successImage
            src="../../../../assets/images/mouse.png"
            alt="check"
            style="display: none; width: 60px;"
          />

          <img
            #imageBox
            (mousemove)="onMousemove($event)"
            (click)="mouseClickListener($event)"
            class="image"
            #gameBox
            name="img"
            src="{{ gameData.image }}"
            alt="image"
          />
        </div>

        <div *ngIf="gameData.dateTo < currDateConv">
            <img
            #successImage
            src="../../../../assets/images/mouse.png"
            alt="check"
            style="display: none; width: 60px;"
          />
          <img
            #imageBox
            (mousemove)="onMousemove($event)"
            class="image"
            #gameBox
            name="img"
            src="{{ gameData.image }}"
            alt="image"
            style="cursor: not-allowed;"
          />
        </div>
        
      </div>
      <div class="text">
        <h2>Your first click on the image will mark your selection</h2>
        <h3 style="
        margin: 50px 0 0 0;
        text-align: center;
        font-size: 30px;
        ">{{ gameData.title }}</h3>
        <div style="margin: 0; padding: 0; text-align: end;" id="my-game">
          <h2>
            <p>Your position:</p>
            <p>x - {{ x }}</p>
            <p>y - {{ y }}</p>
          </h2>
        </div>
      </div>
    </div>
    
    
  </div>
</div>
