.image{
  cursor: crosshair;
}
.head-wrapper{
  .some-wrapper{
    #image-box{
      display: inline-block; 
      position: relative;
      width: 50vw;
      div{
        width: 100%;
        .image{
          width: 100%;
        }
      }
    }
    display: flex; 
    justify-content: space-around;
    .text{
      padding: 10px 20px;
      width: 40vw;
      h2{
        font-size: 27px; 
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .head-wrapper{
    .some-wrapper{
      #image-box{
        width: 70vw;
      }
      .text{
        width: 30vw;
        h2{
          font-size: 23px;
          text-align: center;
          width: 100%;
          margin: 10px 0;
        }
        h3{
          margin: 30px 0 0 0 !important;
        }
        #my-game{
          h2{
            p{
              margin: 3px 0;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .head-wrapper{
    .some-wrapper{
      #image-box{
        width: 90vw;
        margin: 0 auto;
      }
      flex-direction: column-reverse;
      position: relative;
      .text{
        width: 100%;
        padding: 0;
        h2{
          font-size: 23px;
          text-align: center;
          width: 100%;
          margin: 10px 0;
        }
        h3{
          margin: 0 !important;
          text-align: start !important;
        }
        #my-game{
          text-align: end !important;
          float: right;
          h2{
            display: flex;
          }
        }
      }
    }
  }
}