<div *ngIf="gameData">
  <div class="head-wrapper">
    <h1>{{ gameData.title }}</h1>
    <div style="margin: 0; padding: 0; text-align: center;" id="my-game">
      <div style="display: inline-block; position: relative;" id="image-box">
        <img
          #successImage
          src="../../../../assets/images/delete-icon.png"
          alt="check"
          style="display: none; width: 40px;"
        />
        <img
          #imageBox
          (mousemove)="onMousemove($event)"
          (click)="mouseClickListener($event)"
          class="image"
          #gameBox
          name="img"
          src="{{ gameData.image }}"
          alt="image"
          (load)="ballPositionDiffFromReal($event)"
        />
      </div>
      <h2>
        <p>Your position:</p>
        <p>x - {{ x }}</p>
        <p>y - {{ y }}</p>
      </h2>
    </div>
  </div>
</div>
