<div>
    <h1>Admin panel</h1>
</div>

  <button mat-raised-button color="warn" class="logout-button" (click)="logout()">
    Log out
  </button>

<div>
  <div 
    *ngIf="requestAmount && requestAmount > 0" 
    class="req-amount"
  >{{ requestAmount }}</div>
  <mat-tab-group class="tab-group">
    <mat-tab label="Games">
      <game-table></game-table>
    </mat-tab>
    <mat-tab label="Users">
      <user-table></user-table>
    </mat-tab>
    <mat-tab label="Requests">
      <app-request-table></app-request-table>
    </mat-tab>
  </mat-tab-group>
</div>