<div>
    <h1 style="margin-left: 30px">Admin panel</h1>
</div>

  <button mat-raised-button color="warn" class="logout-button" (click)="logout()">
    Log out
  </button>

<div>
  <div *ngIf="requestAmount && requestAmount > 0" style="
    position: absolute;
    left: 439px;
    width: 30px;
    height: 19px;
    background: #f44336;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    padding-top: 9px;
  ">{{ requestAmount }}</div>
  <mat-tab-group style="max-height: 80vh;">
    <mat-tab label="Games">
      <game-table></game-table>
    </mat-tab>
    <mat-tab label="Users">
      <user-table></user-table>
    </mat-tab>
    <mat-tab label="Requests">
      <app-request-table></app-request-table>
    </mat-tab>
  </mat-tab-group>
</div>