.mat-row {
  height: auto;
}

.mat-cell {
  padding: 10px 14px 10px 0;
}

.mat-header-cell {
  padding: 10px 14px 10px 0;
}

.mybutton {
  background-color: green;
  color: white;
}

.add-button {
  position: absolute;
  right: 70px;
  top: -1px;
}

.button-img {
  width: 60px; 
  height: 60px; 
  position: absolute; 
  top: -2px; 
  left: -2px;
}
