.mat-row {
  height: auto;
}

.mat-cell {
  padding: 10px 14px 10px 0;
}

.mat-header-cell {
  padding: 10px 14px 10px 0;
}

.mybutton {
  background-color: green;
  color: white;
}

.add-button {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 4px;
  right: 50px;
}

.button-img {
  width: 48px;
  height: 48px;
  position: absolute;
  top: -2px;
  left: -2px;
}