.item-wrapper {
    * a {
        text-decoration: none;
        color: white;
    }

    cursor: pointer;
    display: flex;
    margin: 16px 10px;

    .img-wrapper {
        width: 48px;
        height: 48px;
        background: #3B3E4B;
        border-radius: 4px;
        box-sizing: border-box;

        img {
            position: relative;
            top: 14px;
            left: 14px;
            width: 23px;
        }
    }


    .hidden-part {
        display: flex;
        width: 267px;
        justify-content: space-between;
        position: absolute;
        left: 57px;
        transition: all 0.3s;
        height: 48px;

        p {
            padding-left: 13px;
            width: 180px;
            font-family: Roboto;
            font-weight: 600;
            font-size: 16px;
            color: #FFFFFF;
            opacity: 0.5;
        }

        .vertival-line {
            width: 3px;
            height: 100%;
            background: transparent;
            position: absolute;
            right: 1px;
        }
    }
    @media screen and (max-width: 1440px) {
        .hidden-part {
            width: 124px;
        }
    }
}

@media screen and (max-width: 800px) {
    .item-wrapper{
        margin: 7px auto;
        margin-right: 10px;
        .hidden-part{
            display: none;
            width: 0;
            p{
                padding-left: 0;
                font-weight: 500;
                font-size: 14px;
                padding: 16px 0;
                margin: 0;
            }
        }
    }
}


.friends {
    .img-wrapper {
        border: solid 1px #e9936b;
        img{
            filter: sepia(1);
        }
    }
}

.item-wrapper.friends:hover {
    .img-wrapper {
        background: #e9936b;
        border: 2px solid #e9936b;

        img {
            filter: brightness(220%);
        }
    }

    .hidden-part {
        .vertival-line {
            background: #e9936b;
        }
    }
}

.item-wrapper:hover {
    .img-wrapper {
        background: #00aae8;
        border: 2px solid #00aae8;

        img {
            filter: brightness(220%);
        }
    }

    .hidden-part {
        background: #cccccc12;
        .vertival-line {
            background: #00aae8;
        }
    }
}

.active-tab {
    .img-wrapper {
        background: #00aae8;
        border: 2px solid #00aae8;

        img {
            filter: brightness(220%);
        }
    }
    .hidden-part{
        background: #cccccc12;
        .vertival-line {
            background: #00aae8;
        }
    }
}

.active-tab.friends {
    .img-wrapper {
        background: #e9936b;
        border: 2px solid #e9936b;

        img {
            filter: brightness(220%);
        }
    }
    .hidden-part{
        .vertival-line {
            background: #e9936b;
        }
    }
}

.hidden {
    transition: all 0.1s !important;
    z-index: -1;
    left: -220px !important;
    opacity: 0;

    .vertival-line {
        display: none;
    }
}

.closed {
    display: none;
}