<div class="menuItem">
    <div *ngIf="menuItem.title !== 'Refer a Friend'" (click)="menuItemClick(menuItem)" class="item-wrapper" [ngClass]="{'active-tab' : menuItem.path === activeTab}">
        <div class="img-wrapper">
            <img src={{menuItem.icon}} alt="icon">
        </div>
        <div class="hidden-part" [ngClass] = "{'hidden' : !fullSizeMenu}">
            <p>{{menuItem.title}}</p>
            <div class="vertival-line"></div>
        </div>
    </div>
    <div *ngIf="menuItem.title === 'Refer a Friend'" (click)="menuItemClick(menuItem)" class="item-wrapper friends" [ngClass]="{'active-tab' : menuItem.path === activeTab}">
        <div class="img-wrapper">
            <img src={{menuItem.icon}} alt="icon">
        </div>
        <div class="hidden-part" [ngClass] = "{'hidden' : !fullSizeMenu}">
            <p>{{menuItem.title}}</p>
            <div class="vertival-line"></div>
        </div>
    </div>
</div>