.prize-wrapper{
    width: 100%;
    height: 100vh;
    background: url('https://puckhunt.s3-us-west-1.amazonaws.com/image_4 (1).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    .prizes{
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: 0 auto;
        .prize{
            width: 47%;
            background: #ffffff;
            border: solid 4px #00b9f04f;
            margin: 35px auto;
            position: relative;
            box-sizing: border-box;
            padding: 10px;
            border-radius: 5px;
            h3{
                margin: 5px 0 0 0 ;
            }
            .content{
                display: flex;
                img{
                    height: 150%;
                    position: absolute;
                    right: 0;
                    top: -25%;
                }
                p{
                    width: 50%; 
                }
            }
        }
    }
    @media screen and (max-width: 800px) {
        .prizes{
            width: 100%;
            .prize{
                width: 47%;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .prize-wrapper{
        height: calc(100vh - 65px);
    }
}