
form {
  text-align: center;
  padding: 40px;
}

button {
  margin-top: 10px;
  
  &:disabled {
    cursor: not-allowed;
  }
}

.delete-img {
  position: absolute; 
  right: -40px;
  top: -4px;

  img {
    width: 20px;
    height: 20px;
  }
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background: none;
}