.dialog-content {
  display: block;
  margin: 0 auto;
  max-height: 65vh;
  overflow: auto;
  width: 95%;
  position: relative;
  .input-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .image-wrapper {
      width: 60%;
      div > img {
        max-width: 130px;
      }
    }
  }
}
form {
  text-align: center;
  padding: 40px;
}

button {
  margin-top: 10px;
  
  &:disabled {
    cursor: not-allowed;
  }
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background: none;
}