<form [formGroup]="form" class="form">
  <h2 mat-dialog-title>
    {{ data.type === "add" ? "Add new game" : "Edit current game" }}
  </h2>
  <mat-dialog-content class="mat-typography dialog-content">
    <div class="input-wrapper">
      <mat-form-field appearance="fill" class="form-data" style="width: 50%;">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
        <mat-error
          *ngIf="!form.controls['title'].valid && form.controls['title'].touched"
        >
          This field is required. Enter title.
        </mat-error>
      </mat-form-field>
      
      <mat-radio-group required formControlName="gameType" style="margin-right: 65px;">
        <mat-label>Game type</mat-label>
        <br>
        <mat-radio-button value="football">Football</mat-radio-button>   
        <mat-radio-button value="hockey" style="margin-left: 10px;">Hockey</mat-radio-button>
      </mat-radio-group>
    </div>
    
    <br />

    <div class="input-wrapper" >
      <mat-form-field appearance="fill" class="form-data" 
        style="width: 60%;">
        <mat-label>Image</mat-label>
        <input maxlength="33" #input matInput formControlName="image" />
        <mat-error
          *ngIf="!form.controls['image'].valid"
        >
          Please add link for Image
        </mat-error>
      </mat-form-field>

      <div class="image-wrapper">
        <div *ngIf="form.controls['image'].valid">
          <img #img src="{{ setImage() }}"  />
        </div>
        <div *ngIf="!form.controls['image'].valid">
          <img src="../../../../../../assets/images/no_image.png" />
        </div>
      </div>
    </div>

    <br />

    <div class="input-wrapper">
      <mat-form-field appearance="fill" class="form-data" style="width: 60%;">
        <mat-label>Original Image</mat-label>
        <input maxlength="33" #input matInput formControlName="imageOriginal" />
        <mat-error
          *ngIf="
            !form.controls['imageOriginal'].valid &&
            form.controls['imageOriginal'].touched
          "
        >
          Please add link for Original Image
        </mat-error>
      </mat-form-field>

      <div class="image-wrapper">
        <div *ngIf="form.controls['imageOriginal'].valid">
          <img #imgOrig src="{{ setOriginalImage() }}" />
        </div>
        <div *ngIf="!form.controls['imageOriginal'].valid">
          <img src="../../../../../../assets/images/no_image.png"/>
        </div>
      </div>
    </div>
    <br />

    <br />

    <mat-form-field  style="width: 49%;">
      <mat-label>Start date</mat-label>
      <input
        matInput
        readonly = 'true'
        [max]="form.controls['dateTo'].value"
        [matDatepicker]="pickerFrom"
        formControlName="dateFrom"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerFrom"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>

    <mat-form-field style="width: 49%; margin-left: 10px;">
      <mat-label>End date</mat-label>
      <input
        matInput
        readonly = 'true'
        [min]="form.controls['dateFrom'].value"
        [matDatepicker]="pickerTo"
        formControlName="dateTo"
      />
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>

    <br />
    <mat-form-field appearance="fill" style="width: 48%; margin-right: 10px;">
      <mat-label>Ball Position of X</mat-label>
      <input matInput type="number" formControlName="positionX" />

      <mat-error
        *ngIf="
          !form.controls['positionX'].valid &&
          form.controls['positionX'].touched
        "
      >
        Please write X position of ball
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 48%; margin-left: 10px;">
      <mat-label>Ball Position of Y</mat-label>
      <input matInput type="number" formControlName="positionY" />

      <mat-error
        *ngIf="
          !form.controls['positionY'].valid &&
          form.controls['positionY'].touched
        "
      >
        Please write Y position of ball
      </mat-error>
    </mat-form-field>

    <br />
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div *ngIf="data.type === 'add'">
      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
        (click)="submit()"
        [mat-dialog-close]="true"
      >
        Submit
      </button>
    </div>

    <div *ngIf="data.type === 'update'">
      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
        (click)="update()"
        [mat-dialog-close]="true"
      >
        Save
      </button>
    </div>
  </mat-dialog-actions>
</form>
