<router-outlet></router-outlet>
<div #toolBar class="tool-bar" [ngClass]="{'opened' : showFullSizeMenu}">
  <p class="menu-title" *ngIf="showFullSizeMenu">
    Puck Hunt
  </p>
  <p class="menu-title" *ngIf="!showFullSizeMenu">
    PH
  </p>
  
  <div class="menu">
    <div *ngFor="let item of menuData.menuData; let i=index">
      <menu-item [menu-item]='item' [index-item]='i'
        [full-size-menu]='showFullSizeMenu'></menu-item>
    </div>
    <menu-item class="log-out" [menu-item]='menuData.logoutItem'
      [full-size-menu]='showFullSizeMenu'></menu-item>
  </div>
</div>
