<div class="main-wrapper">
  <router-outlet></router-outlet>
</div>
<div #toolBar class="tool-bar" [ngClass]="{'opened' : showFullSizeMenu}">
  <!-- <p class="menu-title" *ngIf="showFullSizeMenu">
    Puck Hunt
  </p> -->
  <div style="width: 100%; background: #09aff1;">
    <img style="width: 100%" src="../../../assets/images/Web_Puckhunt_Logo.png" alt="">
  </div>
  <p class="menu-title" *ngIf="!showFullSizeMenu">
    PH
  </p>
  
  <div class="menu">
    <div *ngFor="let item of menuData.menuData; let i=index">
      <menu-item [menu-item]='item' [index-item]='i'
        [full-size-menu]='showFullSizeMenu'></menu-item>
    </div>
    <p *ngIf="!showFullSizeMenu"
      style="
            color: #00aae8;
            transform: rotate(-90deg);
            width: 250px;
            font-size: 30px;
            position: relative;
            top: 86px;
            left: -90px;
      "
    >Refer a Friend >></p>
    <menu-item class="log-out" [menu-item]='menuData.logoutItem'
      [full-size-menu]='showFullSizeMenu'></menu-item>
  </div>
</div>
