.football {
  background: url('../../../../../../assets/images/football-background.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  color: white;
  text-align: center;
  font-weight: 600;
}

.hockey {
  background: url('../../../../../../assets/images/hockey-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  color: #ff2f00;
  text-align: center;
  font-weight: 600;
}
