<div>
  <h2 style="text-align: center; color: #292929a1;">Active Games</h2>
  <div *ngIf="gamesFilter.length; else noActiveGames" class="all-games-wrapper">
    <div style="margin: 0 auto;" *ngFor="let game of gamesFilter">
      <div class="game" (click)="writeResult(game)">
        <game-wrapper [image]="game.image" [title]="game.title" [dueDate]="game.dateTo"></game-wrapper>
      </div>
    </div>
  </div>
  <ng-template #noActiveGames>
    <div class="all-games-wrapper">
      <h3 style="width: 100%;">There is no available games!</h3>
    </div>
  </ng-template>
</div>
<div>
  <h2 style="text-align: center; color: #292929a1;">Expired Games</h2>
  <div *ngIf="gamesAfterDueDate.length; else noExpiredGames" class="all-games-wrapper">
    <div style="margin: 0 auto;" *ngFor="let game of gamesAfterDueDate">
      <div class="game" (click)="writeResult(game)">
        <game-wrapper [image]="game.image" [title]="game.title" [dueDate]="game.dateTo"></game-wrapper>
      </div>
    </div>
  </div>
  <ng-template #noExpiredGames>
    <div class="all-games-wrapper">
      <h3 style="width: 100%;">There is no available games!</h3>
    </div>
  </ng-template>
</div>
