<div class="first-section">
  <div
  (click)="howToPlay()" 
  class="howToPlay"
  >
    <img src="../../../../assets/images/question.png" alt="question">
  </div>
  <div class="banner-wrapper">
    <img src="../../../../assets/images/Layer 41.png" alt="loo">
    <img src="../../../../assets/images/Layer 57.png" alt="loo">
  </div>
  <h2 class="games-status">Active Games</h2>
  <div *ngIf="gamesFilter.length; else noActiveGames" class="all-games-wrapper">
    <div class="games-list" *ngFor="let game of gamesFilter">
      <div class="game" (click)="writeResult(game)">
        <game-wrapper [image]="game.image" [title]="game.title" [dueDate]="game.dateTo"></game-wrapper>
      </div>
    </div>
  </div>
  <ng-template #noActiveGames>
    <div class="all-games-wrapper">
      <h3>There is no available games!</h3>
    </div>
  </ng-template>
</div>
<div>
  <h2 class="games-status">Expired Games</h2>
  <div *ngIf="gamesAfterDueDate.length; else noExpiredGames" class="all-games-wrapper">
    <div class="games-list" *ngFor="let game of gamesAfterDueDate">
      <div class="game" (click)="writeResult(game)">
        <game-wrapper [image]="game.image" [title]="game.title" [dueDate]="game.dateTo"></game-wrapper>
      </div>
    </div>
  </div>
  <ng-template #noExpiredGames>
    <div class="all-games-wrapper">
      <h3>There is no available games!</h3>
    </div>
  </ng-template>
</div>
