<div>
  <div *ngIf="data; else noData" class="mat-elevation-z8">
    <table  mat-table [dataSource]="dataSource" style="position: relative; width: 100%;"  cellspacing="0" cellpadding="0">

      <ng-container *ngFor="let item of displayedColumns" [matColumnDef]="item">
        <th mat-header-cell *matHeaderCellDef> {{ item | toCamelCase }} </th>
        <td id="cell" mat-cell *matCellDef="let element" cellpadding="0"> 
            <div class="table-cell" (click)="showUserData(element)">
              {{element[item]}} 
            </div> 
            
            <div *ngIf="item === 'actions'" >
              <button mat-raised-button color="warn" style="margin-right: 10px;" (click)="deleteUser(element)">
                Delete
              </button>  
              <button mat-raised-button color="primary" style="margin-right: 10px;" (click)="openModal('update', element)">
                Edit
              </button>
            </div>
        </td>
        
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr id="row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>


  <div style="height: 80px;">
    <button mat-fab  class="add-button" (click)="openModal('add')">+
      <img src="../../../../../../assets/images/green-button-add.jpg" alt="button" class="button-img">
    </button> 
  </div>

  <ng-template #noData>
    No users available
  </ng-template>

</div>