.add-button {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 4px;
  right: 50px;
}

.button-img {
  width: 48px;
  height: 48px;
  position: absolute;
  top: -2px;
  left: -2px;
}

.table-cell {
  max-width: 170px;
  cursor: pointer;
}

.mat-dialog-container {
  padding: 0px !important;
}

table {
  width: 100%;
}

.action-button {
  margin-right: 10px;
}

.button-wrapper {
  height: 80px;
}

.template-text {
  text-align: center;
}