<div class="page-wrapper">
  <div class="logo-wrapper">
    <h1>Spot the ball</h1>
  </div>
  <form [formGroup]='formLogin' class="register-wrapper">

    <div [ngClass] = "{'error-innput-wrapper' : formLogin.controls['email'].invalid && !formLogin.controls['email'].untouched}" class="input-wrapper">
      <label for="email">Email</label>
      <input (keyup)="inputHandler()" formControlName="email">
    </div>

    <div [ngClass] = "{'error-innput-wrapper' : formLogin.controls['password'].invalid && !formLogin.controls['password'].untouched}" class="input-wrapper">
      <label for="password">Password</label>
      <input (keyup)="inputHandler()" type="{{!showPassword ? 'password' : 'text'}}" formControlName="password">
      <img (click)="showPasswordToggle()" src="../../../../assets/images/Vector.png" alt="vector">
    </div>

    <div class="action-buttons">
      <!-- <button mat-button class="none-background-button" (click)="navigateToForgotPassword()">Forgot Password?</button> -->
      <button disabled="{{!submitButtonDisabled}}" mat-button class="background-button" (click)="submitForm()" [ngClass]="{'disabled' : submitButtonDisabled == false}" style="margin: auto">Login</button>
    </div>
  </form>
</div>