<div *ngIf="!mobileVersion" class="page-wrapper">
  <div class="logo-wrapper">
    <img src="../../../../assets/images/Web_Puckhunt_Logo.png" alt="logo">
  </div>
  <form [formGroup]='formLogin' class="register-wrapper">

    <div [ngClass] = "{'error-innput-wrapper' : formLogin.controls['email'].invalid && !formLogin.controls['email'].untouched}" class="input-wrapper">
      <label for="email">Email</label>
      <input (keyup)="inputHandler()" formControlName="email">
    </div>

    <div [ngClass] = "{'error-innput-wrapper' : formLogin.controls['password'].invalid && !formLogin.controls['password'].untouched}" class="input-wrapper">
      <label for="password">Password</label>
      <input (keyup)="inputHandler()" type="{{!showPassword ? 'password' : 'text'}}" formControlName="password">
      <img style="max-width: 20px; right: 7px;" *ngIf="!showPassword" (click)="showPasswordToggle()" src="../../../../assets/images/visible.png" alt="vector">
      <img style="max-width: 20px; right: 7px;" *ngIf="showPassword" (click)="showPasswordToggle()" src="../../../../assets/images/not-visible.png" alt="vector">
    </div>

    <div class="action-buttons">
      <button disabled="{{!submitButtonDisabled}}" mat-button class="background-button" (click)="submitForm()" [ngClass]="{'disabled' : submitButtonDisabled == false}">Login</button>
      <button
        class="reset-btn"
        (click)="navigateToForgotPassword()"
      >Reset password</button>
    </div>
  </form>
</div>
<div *ngIf="mobileVersion" class="page-wrapper">
  <div 
  style="height: auto;"
  class="register-wrapper">
  <p style="text-align: center;">
    We recommend using your desktop. Our mobile version is coming soon.
  </p>
  <button
  style="
  margin: 25px auto 0;
  background: #00aae8;
  color: white;
  "
  (click)="signInAnyway()" mat-button class="background-button" type="button">
    Sign In Anyway
  </button> 
  </div>
</div>